
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Roboto);



html {
    font-size: 100%;
}

body {
 margin:0rem;
    font-size: 1rem;
    background-color:#f8f5bd;
}

h1, h2,h3,h4,h5,h6 {
    font-family: 'Anton',serif;
    font-weight: 100;
    color:#4d4b42 
}

p { color:#4d4b42;
        font-family: 'Roboto',serif;

}

h1 {font-size:3rem; margin-top:0.3rem;margin-bottom:0.3rem;}
h2 {font-size:2.8rem; margin-top:0.3rem;margin-bottom:0.3rem; }
h3 {font-size:2rem; margin-top:0.3rem;margin-bottom:0.3rem;}
h4 {font-size:1rem; margin-top:0.3rem;margin-bottom:0.3rem;}
h5 {font-size:0.5rem; margin-top:0.3rem;margin-bottom:0.3rem;}


/* NAVIGATION */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    padding-left:10rem;
    overflow: hidden;
        font-family: 'Anton',serif;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}



/* unvisited link */
a { text-decoration: none;
}


/* GENERAL DIV SETTINGS */

div {}

/* FIRTS MAIN CTA BLOCK HOME */
.maincover {min-height: 600px;
    background-color: #c3da81;
}

.mainctabox {margin: auto;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 10rem;
    right: 10%;
padding:1rem}


.ctayellow {padding:1rem 1.5rem 1rem 1.5rem;
     background-color:yellow;
    display:inline-block;
     font-family: 'Anton',serif;
    font-weight: 100;
    margin-top:1.5rem;
    }

.ctayellow:hover {background-color:blue;
color:white;
}

.ctamoreinfo:hover {background-color:rgba(0, 0, 0, 0.3) ;
color:white}

.ctamoreinfo {padding:1rem 1.5rem 1rem 1.5rem;
     border-style: dashed;
    border-width: 2px;
    border-color:#4d4b42;
    color:#4d4b42;
    display:inline-block;
    margin-left:1rem;
 font-family: 'Anton',serif;
    font-weight: 100;
margin-top:1.5rem;}


/* SECOND BLOCK HOME PAGE */


.cover2 {min-height: 300px;
    padding-top:2rem;
}

.mainctabox2 {margin: auto;
    display: inline-block;
padding:1rem;
margin-left:10rem;
margin-right:3rem;
width:40rem;}


/* What We Do title line */

#whatwedotitle {height:150px;
border-right-style:dashed;
border-right-width: 2px;
 border-right-color:#4d4b42;
    color:#4d4b42;
background-color:#c3da81;
float:left;
padding-top:1rem;
padding-right:2rem;
    padding-left:5rem;
}

#whatwedotitle2 {height:150px;
    background-color:#dee7a3;
min-width:100%;
    padding-top:1rem;
padding-right:2rem;
} 

.servicebox {float:left;
width:50%}

.icon {float:left;
    display:inline-block;}

.icon img {width:7rem;
   }


.icontext {float:left;
width: inherit;}


.ourservices {padding-top:5rem;
padding-left:10rem; padding-right:5rem;
margin:autor;}


/* SEPARATOR */

.separator {border-bottom-style:dashed;
border-bottom-width: 2px;
 border-bottom-color:#4d4b42;
    color:#4d4b42;
clear: both;
margin-top:5rem;}